{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Title rendering -->
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        {% if post.collection == 'teaching' %}
          {{ post.title }}
        {% elsif post.collection == 'publications' and post.category == 'working' %}
          <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
          <a href="{{ post.link }}">{{ post.title }}</a> 
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
            <span class="sr-only">Permalink</span>
          </a>
        {% endif %}
      {% else %}
        {% if post.collection == 'teaching' %}
          {{ post.title }}
        {% elsif post.collection == 'publications' and post.category == 'working' %}
          {{ post.title }}
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
        {% endif %}
      {% endif %}
    </h2>   

    <!-- Content below the title -->
    {% if post.collection == 'teaching' %}
      <p>{{ post.type }}{% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}</p>
    {% elsif post.collection == 'publications' and post.category != 'working' %}
      <p>Published in <strong>{{ post.venue }}</strong>, <strong>{{ post.date | default: "1900-01-01" | date: "%Y" }}</strong></p>
    {% elsif post.collection == 'publications' and post.category == 'working' %}
      <!-- Prevent duplicate title rendering -->
      <p>{{ post.type }}</p>
    {% endif %}

    <!-- Excerpt -->
    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
        <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p>
      </p>
    {% endif %}

    <!-- Citation and downloads -->
{% if post.citation and post.paperurl and post.slidesurl %}
  <p>Co-authors: {{ post.citation }}<br />
  <a href="{{ post.paperurl }}">Download Paper</a> | 
  <a href="{{ post.slidesurl }}">SSRN Link</a></p>
{% elsif post.citation and post.paperurl %}
  <p>Co-authors: {{ post.citation }}<br />
  <a href="{{ post.paperurl }}">Download Paper</a></p>
{% elsif post.citation and post.slidesurl %}
  <p>Recommended citation: {{ post.citation }}<br />
  <a href="{{ post.slidesurl }}">SSRN Link</a></p>
{% elsif post.paperurl and post.slidesurl %}
  <p><a href="{{ post.paperurl }}">Download Paper</a> | 
  <a href="{{ post.slidesurl }}">SSRN Link</a></p>
{% elsif post.citation %}
  <p>Co-authors: {{ post.citation }}</p>
{% elsif post.paperurl %}
  <p><a href="{{ post.paperurl }}">Download Paper</a></p>
{% elsif post.slidesurl %}
  <p><a href="{{ post.slidesurl }}">SSRN Link</a></p>
{% endif %}

  </article>
</div>
